<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<BatchJobs>
		<BatchJob>
			<JobID>1</JobID>
			<JobName>Move All Test Files</JobName>
			<JobType>FileMover</JobType>
			<InputPath>C:\Users\[User]\Downloads\TestDirectory\InputTest\</InputPath>
			<DestinationPath>C:\Users\[User]\Downloads\TestDirectory\OutputTest\</DestinationPath>
			<FileNamePattern>*.*</FileNamePattern>
			<WindowStart>00:00</WindowStart>
			<WindowEnd>23:59</WindowEnd>
			<WindowDays>Mon|Tue|Wed|Thu|Fri|Sat|Sun</WindowDays>
			<IsActive>0</IsActive>
		</BatchJob>
	</BatchJobs>
</configuration>
