<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<variable name="FileName" value="C:\Users\Jacob\Downloads\TestDirectory\Logging\FileWatcher_${shortdate}.log"/>
	
	<variable name="DefaultLayout" value ="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}"/>
	<variable name="ErrorLayout" value="
----------------------------------------------------------------${newline}
${Level}${newline}
${longdate}${newline}
Error:${newline}
Details:${newline}
${message}${newline}
________________________________________________________________"/>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="${FileName}"
				layout="${DefaultLayout}" />
		<target xsi:type="Console" name="logconsole"
				layout="${DefaultLayout}" />

		<!-- Error Outputs use a different Layout-->
		<target xsi:type="File" name="logfile_error" fileName="${FileName}"
				layout="${ErrorLayout}" />
		<target xsi:type="Console" name="logconsole_error"
				layout="${ErrorLayout}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="error" writeTo="logfile_error,logconsole_error" />
		<logger name="*" minlevel="Trace"  maxlevel="warning" writeTo="logfile,logconsole" />
	</rules>
</nlog>