<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Logging>
    <OutputDirectory>C:\Users\[Path To Logging Directory]</OutputDirectory>
  </Logging>
  <Jobs>
    <Job>
      <JobID>1</JobID>
      <JobName>Move All Test Files</JobName>
      <JobType>FileMover</JobType>
      <InputPath>C:\Users\[Path To Input Directory]</InputPath>
      <DestinationPath>C:\Users\[Path To Destination Directory]</DestinationPath>
      <FileNamePattern>*.*</FileNamePattern>
      <WindowStart>00:00</WindowStart>
      <WindowEnd>23:59</WindowEnd>
      <WindowDays>Mon|Tue|Wed|Thu|Fri|Sat|Sun</WindowDays>
    </Job>
    <Job>
      <JobID>2</JobID>
      <JobName>Text</JobName>
      <JobType>CommandRunner</JobType>
      <Command>move</Command>
      <Arguments>"C:\Users\[Path to input File to Move via Command Line]" "C:\Users\[Path to Destination file via command lind]"</Arguments>
      <IsAdminNeeded>false</IsAdminNeeded>
      <RetryOnFailure>false</RetryOnFailure>
      <RetryCount>0</RetryCount>
      <CommandRunTime>15:42</CommandRunTime>
      <WindowDays>Tue|Wed|Thu|Fri|Sat|Sun|Mon</WindowDays>
    </Job>
  </Jobs>
</configuration>